@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
}

/*#region Light Mode Variables */
:root {
	--background: rgb(237, 239, 241);
	--navbar: rgb(242, 243, 244);
	--text-primary: rgb(35, 39, 42);
	--text-secondary: rgb(96, 88, 208);
}
/*#endregion*/

/*#region Dark Mode Variables */
[data-theme="dark"] {
	--background: rgb(35, 39, 42);
	--navbar: rgb(44, 47, 51);
	--text-primary: rgb(237, 239, 241);
	--text-secondary: rgb(141, 136, 221);
}
/*#endregion*/

.app {
	text-align: center;
	background-color: var(--background);
	color: var(--text-primary);
}

.search-bar {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	background-color: var(--navbar);
	border-bottom: 2px solid var(--text-primary);
}

.search-bar > button {
	padding: 0.25rem 0.75rem;
	font-size: 0.75rem;
	background-color: var(--navbar);
	color: var(--text-primary);
	border: 2px solid var(--text-primary);
	border-radius: 0.5rem;
	margin-left: 2rem;
	outline: none;
}

.search-bar > button:hover,
.search-bar > button:focus {
	background-color: var(--text-secondary);
	cursor: pointer;
}

.search-bar > input {
	padding: 0.25rem 0.75rem;
	font-size: 0.75rem;
	background-color: var(--navbar);
	color: var(--text-primary);
	border: 2px solid var(--text-primary);
	border-radius: 0.5rem;
	width: 20rem;
	outline: none;
}

.search-bar > input:focus {
	border: 2px solid var(--text-secondary);
}

.search-bar > input::placeholder {
	color: var(--text-secondary);
}

.search-results {
	margin: 1.5rem;
}

.pokemon-info {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	padding: 0.5rem;
	width: 12rem;
	margin: 0 auto 0.5rem auto;
	background-color: var(--navbar);
	border: 2px solid var(--text-secondary);
	border-radius: 0.5rem;
}

.pokemon-thumbnail {
	width: 2rem;
}

.pokemon-name {
	font-weight: 400;
	text-transform: capitalize;
	width: 8rem;
	color: var(--text-primary);
}
